<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="center center" class="content">
        <div class="blocks">
          <mat-form-field>
            <mat-select #creativeId placeholder="Choose a Creative">
              <mat-option *ngFor="let c of creatives$ | async" [value]="c.creativeId">
                {{ c.creativeId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="blocks">
          <mat-form-field>
            <mat-select #memberId placeholder="Choose a Member">
              <mat-option *ngFor="let m of members$ | async" [value]="m.memberId">
                {{ m.memberId }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="blocks">
          <mat-form-field>
            <mat-select #modelId placeholder="Choose a Model">
              <mat-option *ngFor="let m of models$ | async" [value]="m.modelId">
                {{ m.modelId }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
    </div>

    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="center center" class="content">
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="getResult(false)">
            <mat-icon>add</mat-icon> Generate Creative
          </button>
        </div>
        <div class="blocks">
          <button button="submit" mat-raised-button color="primary" (click)="getResult(true)">
            <mat-icon>add</mat-icon> Have some fun
          </button>
        </div>
      </div>
    </div>

    <br>
    <div class="container" *ngIf="results$ | async">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card" style="width:100%">
          <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
            <h3>Showing {{(results$ | async).length}} Results</h3>
          </mat-card-title>
          <mat-card-content>
            <div class="example-container mat-elevation-z8">
              <mat-table #table [dataSource]="results$ | async">
                <ng-container matColumnDef="createdAt">
                  <mat-header-cell *matHeaderCellDef> Date Created </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.createdAt | date: 'yyyy/MM/dd HH:mm:SS'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="creativeId">
                  <mat-header-cell *matHeaderCellDef> Creative Id </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.creativeId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="memberId">
                  <mat-header-cell *matHeaderCellDef> Member Id </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.memberId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="modelId">
                  <mat-header-cell *matHeaderCellDef> Model Id </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.modelId}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="funny">
                  <mat-header-cell *matHeaderCellDef> Plain/Funny </mat-header-cell>
                  <mat-cell *matCellDef="let element">
                    <mat-icon>{{element.funny ? 'sentiment_satisfied_alt' : 'sentiment_dissatisfied'}}</mat-icon>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="result">
                  <mat-header-cell *matHeaderCellDef> Result </mat-header-cell>
                  <mat-cell *matCellDef="let element" (click)="openDialog(element)"> {{element.result}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>