@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import 'theme.scss';

.my-theme {
  // use our theme with angular-material-theme mixin
  @include angular-material-theme($my-theme);
}

html {
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body {
  margin: 0;
  height: 100%;
  // min-height: 100%;
}
