<h1 mat-dialog-title>{{title}}</h1>
<!-- <h2>{{result}}</h2> -->
<div class="mat-dialog-content" mat-dialog-content="">
  <h3>Generated Creative</h3>
  <p>{{result}}</p>
  <hr>
  <h3>Existing Creative</h3>
  <p style="color:blue;">{{dlg_data.element.raw_creative}}</p>
</div>
<div mat-dialog-actions>
  <button mat-raised-button class="close" color="primary" (click)="onNoClick()">Okay</button>
</div>