<div style="text-align:center">
  <h1>Welcome to Roktmind</h1>
  <p>
    This is a platform that helps generating peronsalized creatives!
    <br> Click on <a [routerLink]="['dashboard']">here</a> to get Started!!!
  </p>
</div>